.neatForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.neatForm input,
.neatForm button {
    width: 100%;
    box-sizing: border-box;

    text-align: left;
}

.neatForm input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin: 0;

    accent-color: var(--border);

    flex: 0 0 auto;
}