:root {
  --font: "Roboto Mono", monospace;

  --background-light: #92cde4;
  --background: #89C2D9;
  --background-dark: #61A5C2;

  --border: #468FAF;

  --text-light: #184861;
  --text: #133d54;

  --primary-light: #9d4edd;
  --primary: #7b2cbf;

  --danger: #bf4244;
  --warning: #f9c74f;
  --success: #6e9f47;
  --info: #577590;
}