.content
{
    width: 100%;
    height: 100%;

    display: flex;
}

.content > div:nth-child(1)
{
    float: left;

    display: flex;
    flex-direction: column;

    width: 200px;

    border-right: solid var(--border-color) 2px;
}

.content > div:nth-child(1) > :nth-child(1)
{
    float: top;

    width: 100%;
    height: 75px;

    border-bottom: solid var(--border-color) 2px;
}

.content > div:nth-child(1) > :nth-child(2)
{
    float: bottom;
    flex-grow: 1;

    width: 100%;
}

.content > div:nth-child(2)
{
    float: right;
    flex-grow: 1;
}