.content
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.content > div:nth-child(1)
{
    float: top;

    height: 100px;

    width: 100%;

    overflow: hidden;

    border-bottom: solid var(--border) 2px;
}

.content > div:nth-child(2)
{
    float: bottom;
    flex-grow: 1;

    width: 100%;

    overflow: hidden;
    overflow-y: scroll;
}