.login-form
{
    background-color: var(--background-light);

    filter: drop-shadow(0 0 15px var(--border));

    padding: 10px;

    border: solid var(--border) 2px;
    border-radius: 5px;
    
    transition-duration: 200ms;
}

.login-form:hover
{
    filter: drop-shadow(0 0 5px var(--border));
}

label
{
    font-weight: bold;
    font-size: small;
}

input
{
    background-color: var(--background-light);

    color: var(--text);

    border: solid var(--border) 2px;
    border-radius: 5px;
}

button
{
    background-color: var(--background-light);

    color: var(--text);

    width: 100%;

    border: solid var(--border) 2px;
    border-radius: 5px;

    transition-duration: 100ms;
}

button:hover
{
    background-color: var(--background);
    color: var(--text-light);
}