.login-form
{
    background-color: var(--background-color);

    filter: drop-shadow(0 0 0.75rem var(--border-color));

    padding: 10px;

    border: solid var(--border-color) 2px;
    border-radius: 5px;
}

label
{
    font-weight: bold;
    font-size: small;
}

input
{
    background-color: var(--background-color-light);

    color: var(--text-color);

    border: solid var(--border-color) 2px;
    border-radius: 5px;
}

button
{
    background-color: var(--background-color-light);

    color: var(--text-color);

    width: 100%;

    border: solid var(--border-color) 2px;
    border-radius: 5px;

    transition-duration: 500ms;
}

button:hover
{
    background-color: var(--background-color-lighter);
    color: var(--text-color-light);
}